<head>
  <title>ANF135 | Sistema contable</title>
  <link rel="stylesheet" href="css/bootstrap.css" />
  <link rel="stylesheet" href="css/main.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<body>
  <div id="app"></div>
  <script type="text/x-template" id="app-template">
    <div class="container">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#balancegral">Balance General</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#er">Estado de resultados</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#razonesfinancieras">Razones financieras</a>
              </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
              <div id="balancegral" class="container tab-pane active">
                <div class="row">
                  <div class="col-12">
                    <br>
                    <table class="table-dark table-sm table-hover" style="width: 100%;">
                      <thead style="text-align: center;">
                        <tr>
                          <th rowspan="2">CONCEPTO</th>
                          <th colspan="2">YEARS</th>
                        </tr>
                        <tr>
                          <th>{{ firstYear.year }}</th>
                          <th>{{ secondYear.year }}</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th>Total de activos corrientes</th>
                          <td>{{ computedFirstYear.balanceGral.totalActivosCorrientes }}</td>
                          <td>{{ computedSecondYear.balanceGral.totalActivosCorrientes }}</td>
                        </tr>
                        <tr>
                          <th>Efectivo e inversiones a corto plazo</th>
                          <td>{{ computedFirstYear.balanceGral.efectivoEInversionesCortoPlazo }}</td>
                          <td>{{ computedSecondYear.balanceGral.efectivoEInversionesCortoPlazo }}</td>
                        </tr>
                        <tr>
                          <th>Efectivo</th>
                          <td><input type="number" v-model="firstYear.balanceGral.efectivo"></td>
                          <td><input type="number" v-model="secondYear.balanceGral.efectivo"></td>
                        </tr>
                        <tr>
                          <th>Efectivo y equivalentes de efectivo</th>
                          <td><input type="number" v-model="firstYear.balanceGral.efectivoYEquivalentes"></td>
                          <td><input type="number" v-model="secondYear.balanceGral.efectivoYEquivalentes"></td>
                        </tr>
                        <tr>
                          <th>Inversiones a corto plazo</th>
                          <td><input type="number" v-model="firstYear.balanceGral.inversionesCortoPlazo"></td>
                          <td><input type="number" v-model="secondYear.balanceGral.inversionesCortoPlazo"></td>
                        </tr>
                        <tr>
                          <th>Cuentas por cobrar</th>
                          <td><input type="number" v-model="firstYear.balanceGral.cuentasPorCobrar"></td>
                          <td><input type="number" v-model="secondYear.balanceGral.cuentasPorCobrar"></td>
                        </tr>
                        <tr>
                          <th>Inventarios</th>
                          <td><input type="number" v-model="firstYear.balanceGral.inventarios"></td>
                          <td><input type="number" v-model="secondYear.balanceGral.inventarios"></td>
                        </tr>
                        <tr>
                          <th>Otros activos corrientes</th>
                          <td><input type="number" v-model="firstYear.balanceGral.otrosActivosCorrientes"></td>
                          <td><input type="number" v-model="secondYear.balanceGral.otrosActivosCorrientes"></td>
                        </tr>
                        <tr>
                          <th>Total activos</th>
                          <td>{{ computedFirstYear.balanceGral.totalActivos }}</td>
                          <td>{{ computedSecondYear.balanceGral.totalActivos }}</td>
                        </tr>
                        <tr>
                          <th>Inmuebles, mobiliario y equipo neto</th>
                          <td>{{ computedFirstYear.balanceGral.inmueblesMobiliarioYEquipoNeto }}</td>
                          <td>{{ computedSecondYear.balanceGral.inmueblesMobiliarioYEquipoNeto }}</td>
                        </tr>
                        <tr>
                          <th>Inmuebles, mobiliario y equipo</th>
                          <td><input type="number" v-model="firstYear.balanceGral.inmueblesMobiliarioYEquipo"></td>
                          <td><input type="number" v-model="secondYear.balanceGral.inmueblesMobiliarioYEquipo"></td>
                        </tr>
                        <tr>
                          <th>Depreciacion acumulada de inmuebles, mobiliario y equipo</th>
                          <td><input type="number" v-model="firstYear.balanceGral.depreciacionAcumuladaInmueblesMobiliarioYEquipo"></td>
                          <td><input type="number" v-model="secondYear.balanceGral.depreciacionAcumuladaInmueblesMobiliarioYEquipo"></td>
                        </tr>
                        <tr>
                          <th>Inversiones permanentes</th>
                          <td><input type="number" v-model="firstYear.balanceGral.inversionesPermanentes"></td>
                          <td><input type="number" v-model="secondYear.balanceGral.inversionesPermanentes"></td>
                        </tr>
                        <tr>
                          <th>Otros activos permanentes</th>
                          <td><input type="number" v-model="firstYear.balanceGral.otrosActivosPermanentes"></td>
                          <td><input type="number" v-model="secondYear.balanceGral.otrosActivosPermanentes"></td>
                        </tr>
                        <tr>
                          <th>Total pasivos corrientes</th>
                          <td>{{ computedFirstYear.balanceGral.totalPasivosCorrientes }}</td>
                          <td>{{ computedSecondYear.balanceGral.totalPasivosCorrientes }}</td>
                        </tr>
                        <tr>
                          <th>Cuentas por pagar</th>
                          <td><input type="number" v-model="firstYear.balanceGral.cuentasPorPagar"></td>
                          <td><input type="number" v-model="secondYear.balanceGral.cuentasPorPagar"></td>
                        </tr>
                        <tr>
                          <th>Documentos por pagar</th>
                          <td><input type="number" v-model="firstYear.balanceGral.documentosPorPagar"></td>
                          <td><input type="number" v-model="secondYear.balanceGral.documentosPorPagar"></td>
                        </tr>
                        <tr>
                          <th>Deudas con entidades de credito y obligaciones u otros valores negociables</th>
                          <td><input type="number" v-model="firstYear.balanceGral.deudasEntidadesCredito"></td>
                          <td><input type="number" v-model="secondYear.balanceGral.deudasEntidadesCredito"></td>
                        </tr>
                        <tr>
                          <th>Otras cuentas por pagar</th>
                          <td><input type="number" v-model="firstYear.balanceGral.otrasCuentasPorPagar"></td>
                          <td><input type="number" v-model="secondYear.balanceGral.otrasCuentasPorPagar"></td>
                        </tr>
                        <tr>
                          <th>Total pasivo</th>
                          <td>{{ computedFirstYear.balanceGral.totalPasivos }}</td>
                          <td>{{ computedSecondYear.balanceGral.totalPasivos }}</td>
                        </tr>
                        <tr>
                          <th>Deuda a largo plazo</th>
                          <td><input type="number" v-model="firstYear.balanceGral.deudaLargoPlazo"></td>
                          <td><input type="number" v-model="secondYear.balanceGral.deudaLargoPlazo"></td>
                        </tr>
                        <tr>
                          <th>Impuesto diferido a las ganancias</th>
                          <td><input type="number" v-model="firstYear.balanceGral.impuestoDiferidoGanancias"></td>
                          <td><input type="number" v-model="secondYear.balanceGral.impuestoDiferidoGanancias"></td>
                        </tr>
                        <tr>
                          <th>Otros pasivos</th>
                          <td><input type="number" v-model="firstYear.balanceGral.otrosPasivos"></td>
                          <td><input type="number" v-model="secondYear.balanceGral.otrosPasivos"></td>
                        </tr>
                        <tr>
                          <th>Capital contable</th>
                          <td>{{ computedFirstYear.balanceGral.capitalContable }}</td>
                          <td>{{ computedSecondYear.balanceGral.capitalContable }}</td>
                        </tr>
                        <tr>
                          <th>Acciones comunes</th>
                          <td><input type="number" v-model="firstYear.balanceGral.accionesComunes"></td>
                          <td><input type="number" v-model="secondYear.balanceGral.accionesComunes"></td>
                        </tr>
                        <tr>
                          <th>Resultado de ejercicios anteriores</th>
                          <td><input type="number" v-model="firstYear.balanceGral.resultadoEjercicioAnterior"></td>
                          <td><input type="number" v-model="secondYear.balanceGral.resultadoEjercicioAnterior"></td>
                        </tr>
                        <tr>
                          <th>Ganancia no realizada</th>
                          <td><input type="number" v-model="firstYear.balanceGral.gananciaNoRealizada"></td>
                          <td><input type="number" v-model="secondYear.balanceGral.gananciaNoRealizada"></td>
                        </tr>
                        <tr>
                          <th>Otras participaciones</th>
                          <td><input type="number" v-model="firstYear.balanceGral.otrasParticipaciones"></td>
                          <td><input type="number" v-model="secondYear.balanceGral.otrasParticipaciones"></td>
                        </tr>
                        <tr>
                          <th>Total pasivo y capital contable</th>
                          <td>{{ computedFirstYear.balanceGral.totalPasivoCapitalContable }}</td>
                          <td>{{ computedSecondYear.balanceGral.totalPasivoCapitalContable }}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div id="er" class="container tab-pane fade"><br>
                <div class="row">
                    <div class="col-12">
                      <table class="table table-dark table-sm table-hover">
                        <thead style="text-align: center;">
                          <tr>
                            <th rowspan="2">CONCEPTO</th>
                            <th colspan="2">YEARS</th>
                            <th rowspan="2">ANALISIS HORIZONTAL</th>
                          </tr>
                          <tr>
                            <th>{{ firstYear.year }}</th>
                            <th>{{ secondYear.year }}</th>
                          </tr>
                          <tr>

                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th>Ingresos</th>
                            <td><input type="number" v-model="firstYear.ER.ingresos"></td>
                            <td><input type="number" v-model="secondYear.ER.ingresos"></td>
                          </tr>
                          <tr>
                            <th>Consumos y otros gastos externos</th>
                            <td><input type="number" v-model="firstYear.ER.consumosGastosExternos"></td>
                            <td><input type="number" v-model="secondYear.ER.consumosGastosExternos"></td>
                          </tr>
                          <tr>
                            <th>Beneficio bruto</th>
                            <td>{{ computedFirstYear.ER.beneficioBruto }}</td>
                            <td>{{ computedSecondYear.ER.beneficioBruto }}</td>
                          </tr>
                          <tr>
                            <th>Total gastos de explotacion</th>
                            <td>{{ computedFirstYear.ER.gastosExplotacion }}</td>
                            <td>{{ computedSecondYear.ER.gastosExplotacion }}</td>
                          </tr>
                          <tr>
                            <th>Gastos de personal</th>
                            <td><input type="number" v-model="firstYear.ER.gastosPersonal"></td>
                            <td><input type="number" v-model="secondYear.ER.gastosPersonal"></td>
                          </tr>
                          <tr>
                            <th>I + D</th>
                            <td><input type="number" v-model="firstYear.ER.investigacionDev"></td>
                            <td><input type="number" v-model="secondYear.ER.investigacionDev"></td>
                          </tr>
                          <tr>
                            <th>Resultados de explotacion</th>
                            <td>{{ computedFirstYear.ER.resultadoExplotacion }}</td>
                            <td>{{ computedSecondYear.ER.resultadoExplotacion }}</td>
                          </tr>
                          <tr>
                            <th>Ingresos financieros</th>
                            <td><input type="number" v-model="firstYear.ER.ingresosFinancieros"></td>
                            <td><input type="number" v-model="secondYear.ER.ingresosFinancieros"></td>
                          </tr>
                          <tr>
                            <th>Otros gastos</th>
                            <td><input type="number" v-model="firstYear.ER.otrosGastos"></td>
                            <td><input type="number" v-model="secondYear.ER.otrosGastos"></td>
                          </tr>
                          <tr>
                            <th>Resultados ordinario antes de impuestos</th>
                            <td>{{ computedFirstYear.ER.resultadoOrdinarioAntesImpuestos }}</td>
                            <td>{{ computedSecondYear.ER.resultadoOrdinarioAntesImpuestos }}</td>
                          </tr>
                          <tr>
                            <th>Impuesto sobre beneficios</th>
                            <td><input type="number" v-model="firstYear.ER.impuestoBeneficios"></td>
                            <td><input type="number" v-model="secondYear.ER.impuestoBeneficios"></td>
                          </tr>
                          <tr>
                            <th>Resultado procedente de operaciones continuadas</th>
                            <td>{{ computedFirstYear.ER.resultadoOperacionesContinuadas }}</td>
                            <td>{{ computedSecondYear.ER.resultadoOperacionesContinuadas }}</td>
                          </tr>
                          <tr>
                            <th>Resultado de operaciones interrumpidas</th>
                            <td><input type="number" v-model="firstYear.ER.resultadoOperacionesInterrumpidas"></td>
                            <td><input type="number" v-model="secondYear.ER.resultadoOperacionesInterrumpidas"></td>
                          </tr>
                          <tr>
                            <th>Resultado atribuido al grupo</th>
                            <td>{{ computedFirstYear.ER.resultadoAtribuidoGrupo }}</td>
                            <td>{{ computedSecondYear.ER.resultadoAtribuidoGrupo }}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
              </div>
              <div id="razonesfinancieras" class="container tab-pane fade"><br>
                <div class="row">
                    <div class="col-6">
                      <br>
                      <div class="card text-white bg-primary">
                        <div class="card-body">
                          <h5 class="card-title">Margen de utilidad bruta {{ firstYear.year }}</h5>
                          <h6 class="card-subtitle mb-2 text-muted">Utilidad bruta / Ventas</h6 <p class="card-text">{{
                          margenUtilidad(computedFirstYear.ER.utilidadBruta, computedFirstYear.ER.ventasNetas) }}</p>
                        </div>
                      </div>
                      <br>
                      <div class="card text-white bg-primary">
                        <div class="card-body">
                          <h5 class="card-title">Margen de utilidad operativa {{ firstYear.year }}</h5>
                          <h6 class="card-subtitle mb-2 text-muted">Utilidad operariva / Ventas</h6 <p class="card-text">{{
                          margenUtilidad(computedFirstYear.ER.utilidadOperativa, computedFirstYear.ER.ventasNetas) }}</p>
                        </div>
                      </div>
                      <br>
                      <div class="card text-white bg-primary">
                        <div class="card-body">
                          <h5 class="card-title">Margen de utilidad neta {{ firstYear.year }}</h5>
                          <h6 class="card-subtitle mb-2 text-muted">Utilidad a distribuir / Ventas</h6 <p class="card-text">{{
                          margenUtilidad(computedFirstYear.ER.utilidadADistribuir, computedFirstYear.ER.ventasNetas) }}</p>
                        </div>
                      </div>
                      <br>
                      <div class="card text-white bg-primary">
                        <div class="card-body">
                          <h5 class="card-title">Ganancias por accion {{ firstYear.year }}</h5>
                          <h6 class="card-subtitle mb-2 text-muted">Utilidad a distribuir / Acciones en circulacion</h6 <p class="card-text">{{
                          computedFirstYear.ER.utilidadADistribuir / firstYear.acciones }}</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-6">
                      <br>
                      <div class="card text-white bg-primary">
                        <div class="card-body">
                          <h5 class="card-title">Margen de utilidad bruta {{ secondYear.year }}</h5>
                          <h6 class="card-subtitle mb-2 text-muted">Utilidad bruta / Ventas</h6 <p class="card-text">{{
                          margenUtilidad(computedSecondYear.ER.utilidadBruta, computedSecondYear.ER.ventasNetas) }}</p>
                        </div>
                      </div>
                      <br>
                      <div class="card text-white bg-primary">
                        <div class="card-body">
                          <h5 class="card-title">Margen de utilidad operativa {{ secondYear.year }}</h5>
                          <h6 class="card-subtitle mb-2 text-muted">Utilidad operativa / Ventas</h6 <p class="card-text">{{
                          margenUtilidad(computedSecondYear.ER.utilidadOperativa, computedSecondYear.ER.ventasNetas) }}</p>
                        </div>
                      </div>
                      <br>
                      <div class="card text-white bg-primary">
                        <div class="card-body">
                          <h5 class="card-title">Margen de utilidad neta {{ secondYear.year }}</h5>
                          <h6 class="card-subtitle mb-2 text-muted">Utilidad a distribuir / Ventas</h6 <p class="card-text">{{
                          margenUtilidad(computedSecondYear.ER.utilidadADistribuir, computedSecondYear.ER.ventasNetas) }}</p>
                        </div>
                      </div>
                      <br>
                      <div class="card text-white bg-primary">
                        <div class="card-body">
                          <h5 class="card-title">Ganancias por accion {{ secondYear.year }}</h5>
                          <h6 class="card-subtitle mb-2 text-muted">Utilidad a distribuir / Acciones en circulacion</h6 <p class="card-text">{{
                          computedSecondYear.ER.utilidadADistribuir / secondYear.acciones }}</p>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
          </div>
  </script>
  <script src="js/vue.js"></script>
  <script src="js/app.js"></script>
</body>