<head>
  <title>ANF135 | Sistema contable</title>
  <link rel="stylesheet" href="css/bootstrap.css" />
  <link rel="stylesheet" href="css/main.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<body>
  <div id="app"></div>
  <script type="text/x-template" id="app-template">
    <div class="container">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#balancegral">Balance General</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#er">Estado de resultados</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#razonesfinancieras">Razones financieras</a>
              </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
              <div id="balancegral" class="container tab-pane active">
                <div class="row">
                  <div class="col-12">
                    <br>
                    <table class="table-dark table-sm table-hover" style="width: 100%;">
                      <thead style="text-align: center;">
                        <col width="10">
                        <col width="10%">
                        <col width="10%">
                        <col width="10%">
                        <col width="10%">
                        <col width="10%">
                        <col width="10%">
                        <tr>
                          <th rowspan="2">CUENTA</th>
                          <th colspan="4">ANIOS</th>
                          <th colspan="2">ANALISIS HORIZONTAL</th>
                        </tr>
                        <tr>
                          <th colspan="2">{{ year1.year }}</th>
                          <th colspan="2">{{ year2.year }}</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th>Total de activos corrientes</th>
                          <td>{{ computedYear1.balanceGral.totalActivosCorrientes }}</td>
                          <td>{{ analisisVertical(computedYear1.balanceGral.totalActivosCorrientes, computedYear1.balanceGral.totalActivos) }} % </td>
                          <td>{{ computedYear2.balanceGral.totalActivosCorrientes }}</td>
                          <td>{{ analisisVertical(computedYear2.balanceGral.totalActivosCorrientes, computedYear2.balanceGral.totalActivos) }} % </td>
                          <td>{{ computedYear2.balanceGral.totalActivosCorrientes - computedYear1.balanceGral.totalActivosCorrientes }}</td>
                          <td>{{ ((computedYear2.balanceGral.totalActivosCorrientes - computedYear1.balanceGral.totalActivosCorrientes) / computedYear1.balanceGral.totalActivosCorrientes * 100).toFixed(2) }} %</td>
                        </tr>
                        <tr>
                          <th>Efectivo e inversiones a corto plazo</th>
                          <td>{{ computedYear1.balanceGral.efectivoEInversionesCortoPlazo }}</td>
                          <td>{{ analisisVertical(computedYear1.balanceGral.efectivoEInversionesCortoPlazo, computedYear1.balanceGral.totalActivosCorrientes) }} % </td>
                          <td>{{ computedYear2.balanceGral.efectivoEInversionesCortoPlazo }}</td>
                          <td>{{ analisisVertical(computedYear2.balanceGral.efectivoEInversionesCortoPlazo, computedYear2.balanceGral.totalActivosCorrientes) }} % </td>
                          <td>{{ computedYear2.balanceGral.efectivoEInversionesCortoPlazo - computedYear1.balanceGral.efectivoEInversionesCortoPlazo }}</td>
                          <td>{{ ((computedYear2.balanceGral.efectivoEInversionesCortoPlazo - computedYear1.balanceGral.efectivoEInversionesCortoPlazo) / computedYear1.balanceGral.efectivoEInversionesCortoPlazo * 100).toFixed(2) }} %</td>
                        </tr>
                        <tr>
                          <th>Efectivo</th>
                          <td><input type="text" size="6" v-model="year1.balanceGral.efectivo"></td>
                          <td>{{ analisisVertical(year1.balanceGral.efectivo, computedYear1.balanceGral.totalActivosCorrientes) }} % </td>
                          <td><input type="text" size="6" v-model="year2.balanceGral.efectivo"></td>
                          <td>{{ analisisVertical(year2.balanceGral.efectivo, computedYear2.balanceGral.totalActivosCorrientes) }} % </td>
                          <td>{{ year2.balanceGral.efectivo - year1.balanceGral.efectivo }}</td>
                          <td>{{ ((year2.balanceGral.efectivo - year1.balanceGral.efectivo) / year1.balanceGral.efectivo * 100).toFixed(2) }} %</td>
                        </tr>
                        <tr>
                          <th>Efectivo y equivalentes de efectivo</th>
                          <td><input type="text" size="6" v-model="year1.balanceGral.efectivoYEquivalentes"></td>
                          <td>{{ analisisVertical(year1.balanceGral.efectivoYEquivalentes, computedYear1.balanceGral.totalActivosCorrientes) }} % </td>
                          <td><input type="text" size="6" v-model="year2.balanceGral.efectivoYEquivalentes"></td>
                          <td>{{ analisisVertical(year2.balanceGral.efectivoYEquivalentes, computedYear2.balanceGral.totalActivosCorrientes) }} % </td>
                          <td>{{ year2.balanceGral.efectivoYEquivalentes - year1.balanceGral.efectivoYEquivalentes }}</td>
                          <td>{{ ((year2.balanceGral.efectivoYEquivalentes - year1.balanceGral.efectivoYEquivalentes) / year1.balanceGral.efectivoYEquivalentes * 100).toFixed(2) }} %</td>
                        </tr>
                        <tr>
                          <th>Inversiones a corto plazo</th>
                          <td><input type="text" size="6" v-model="year1.balanceGral.inversionesCortoPlazo"></td>
                          <td>{{ analisisVertical(year1.balanceGral.inversionesCortoPlazo, computedYear1.balanceGral.totalActivosCorrientes) }} % </td>
                          <td><input type="text" size="6" v-model="year2.balanceGral.inversionesCortoPlazo"></td>
                          <td>{{ analisisVertical(year2.balanceGral.inversionesCortoPlazo, computedYear2.balanceGral.totalActivosCorrientes) }} % </td>
                          <td>{{ year2.balanceGral.inversionesCortoPlazo - year1.balanceGral.inversionesCortoPlazo }}</td>
                          <td>{{ ((year2.balanceGral.inversionesCortoPlazo - year1.balanceGral.inversionesCortoPlazo) / year1.balanceGral.inversionesCortoPlazo * 100).toFixed(2) }} %</td>
                        </tr>
                        <tr>
                          <th>Cuentas por cobrar</th>
                          <td><input type="text" size="6" v-model="year1.balanceGral.cuentasPorCobrar"></td>
                          <td>{{ analisisVertical(year1.balanceGral.cuentasPorCobrar, computedYear1.balanceGral.totalActivosCorrientes) }} % </td>
                          <td><input type="text" size="6" v-model="year2.balanceGral.cuentasPorCobrar"></td>
                          <td>{{ analisisVertical(year2.balanceGral.cuentasPorCobrar, computedYear2.balanceGral.totalActivosCorrientes) }} % </td>
                          <td>{{ year2.balanceGral.cuentasPorCobrar - year1.balanceGral.cuentasPorCobrar }}</td>
                          <td>{{ ((year2.balanceGral.cuentasPorCobrar - year1.balanceGral.cuentasPorCobrar) / year1.balanceGral.cuentasPorCobrar * 100).toFixed(2) }} %</td>
                        </tr>
                        <tr>
                          <th>Inventarios</th>
                          <td><input type="text" size="6" v-model="year1.balanceGral.inventarios"></td>
                          <td>{{ analisisVertical(year1.balanceGral.inventarios, computedYear1.balanceGral.totalActivosCorrientes) }} % </td>
                          <td><input type="text" size="6" v-model="year2.balanceGral.inventarios"></td>
                          <td>{{ analisisVertical(year2.balanceGral.inventarios, computedYear2.balanceGral.totalActivosCorrientes) }} % </td>
                          <td>{{ year2.balanceGral.inventarios - year1.balanceGral.inventarios }}</td>
                          <td>{{ ((year2.balanceGral.inventarios - year1.balanceGral.inventarios) / year1.balanceGral.inventarios * 100).toFixed(2) }} %</td>
                        </tr>
                        <tr>
                          <th>Otros activos corrientes</th>
                          <td><input type="text" size="6" v-model="year1.balanceGral.otrosActivosCorrientes"></td>
                          <td>{{ analisisVertical(year1.balanceGral.otrosActivosCorrientes, computedYear1.balanceGral.totalActivosCorrientes) }} % </td>
                          <td><input type="text" size="6" v-model="year2.balanceGral.otrosActivosCorrientes"></td>
                          <td>{{ analisisVertical(year2.balanceGral.otrosActivosCorrientes, computedYear2.balanceGral.totalActivosCorrientes) }} % </td>
                          <td>{{ year2.balanceGral.otrosActivosCorrientes - year1.balanceGral.otrosActivosCorrientes }}</td>
                          <td>{{ ((year2.balanceGral.otrosActivosCorrientes - year1.balanceGral.otrosActivosCorrientes) / year1.balanceGral.otrosActivosCorrientes * 100).toFixed(2) }} %</td>
                        </tr>
                        <tr>
                          <th>Total activos</th>
                          <td>{{ computedYear1.balanceGral.totalActivos }}</td>
                          <td></td>
                          <td>{{ computedYear2.balanceGral.totalActivos }}</td>
                          <td></td>
                          <td>{{ computedYear2.balanceGral.totalActivos - computedYear1.balanceGral.totalActivos }}</td>
                          <td>{{ ((computedYear2.balanceGral.totalActivos - computedYear1.balanceGral.totalActivos) / computedYear1.balanceGral.totalActivos * 100).toFixed(2) }} %</td>
                        </tr>
                        <tr>
                          <th>Inmuebles, mobiliario y equipo neto</th>
                          <td>{{ computedYear1.balanceGral.inmueblesMobiliarioYEquipoNeto }}</td>
                          <td>{{ analisisVertical(computedYear1.balanceGral.inmueblesMobiliarioYEquipoNeto, computedYear1.balanceGral.totalActivos) }} % </td>
                          <td>{{ computedYear2.balanceGral.inmueblesMobiliarioYEquipoNeto }}</td>
                          <td>{{ analisisVertical(computedYear2.balanceGral.inmueblesMobiliarioYEquipoNeto, computedYear2.balanceGral.totalActivos) }} % </td>
                          <td>{{ computedYear2.balanceGral.inmueblesMobiliarioYEquipoNeto - computedYear1.balanceGral.inmueblesMobiliarioYEquipoNeto }}</td>
                          <td>{{ ((computedYear2.balanceGral.inmueblesMobiliarioYEquipoNeto - computedYear1.balanceGral.inmueblesMobiliarioYEquipoNeto) / computedYear1.balanceGral.inmueblesMobiliarioYEquipoNeto * 100).toFixed(2) }} %</td>
                        </tr>
                        <tr>
                          <th>Inmuebles, mobiliario y equipo</th>
                          <td><input type="text" size="6" v-model="year1.balanceGral.inmueblesMobiliarioYEquipo"></td>
                          <td>-</td>
                          <td><input type="text" size="6" v-model="year2.balanceGral.inmueblesMobiliarioYEquipo"></td>
                          <td>-</td>
                          <td>{{ year2.balanceGral.inmueblesMobiliarioYEquipo - year1.balanceGral.inmueblesMobiliarioYEquipo }}</td>
                          <td>{{ ((year2.balanceGral.inmueblesMobiliarioYEquipo - year1.balanceGral.inmueblesMobiliarioYEquipo) / year1.balanceGral.inmueblesMobiliarioYEquipo * 100).toFixed(2) }} %</td>
                        </tr>
                        <tr>
                          <th>Depreciacion acumulada de inmuebles, mobiliario y equipo</th>
                          <td><input type="text" size="6" v-model="year1.balanceGral.depreciacionAcumuladaInmueblesMobiliarioYEquipo"></td>
                          <td>-</td>
                          <td><input type="text" size="6" v-model="year2.balanceGral.depreciacionAcumuladaInmueblesMobiliarioYEquipo"></td>
                          <td>-</td>
                          <td>{{ year2.balanceGral.depreciacionAcumuladaInmueblesMobiliarioYEquipo - year1.balanceGral.depreciacionAcumuladaInmueblesMobiliarioYEquipo }}</td>
                          <td>{{ ((year2.balanceGral.depreciacionAcumuladaInmueblesMobiliarioYEquipo - year1.balanceGral.depreciacionAcumuladaInmueblesMobiliarioYEquipo) / year1.balanceGral.depreciacionAcumuladaInmueblesMobiliarioYEquipo * 100).toFixed(2) }} %</td>
                        </tr>
                        <tr>
                          <th>Inversiones permanentes</th>
                          <td><input type="text" size="6" v-model="year1.balanceGral.inversionesPermanentes"></td>
                          <td>{{ analisisVertical(year1.balanceGral.inversionesPermanentes, computedYear1.balanceGral.totalActivos) }} % </td>
                          <td><input type="text" size="6" v-model="year2.balanceGral.inversionesPermanentes"></td>
                          <td>{{ analisisVertical(year2.balanceGral.inversionesPermanentes, computedYear2.balanceGral.totalActivos) }} % </td>
                          <td>{{ year2.balanceGral.inversionesPermanentes - year1.balanceGral.inversionesPermanentes }}</td>
                          <td>{{ ((year2.balanceGral.inversionesPermanentes - year1.balanceGral.inversionesPermanentes) / year1.balanceGral.inversionesPermanentes * 100).toFixed(2) }} %</td>
                        </tr>
                        <tr>
                          <th>Otros activos permanentes</th>
                          <td><input type="text" size="6" v-model="year1.balanceGral.otrosActivosPermanentes"></td>
                          <td>{{ analisisVertical(year1.balanceGral.otrosActivosPermanentes, computedYear1.balanceGral.totalActivos) }} % </td>
                          <td><input type="text" size="6" v-model="year2.balanceGral.otrosActivosPermanentes"></td>
                          <td>{{ analisisVertical(year2.balanceGral.otrosActivosPermanentes, computedYear2.balanceGral.totalActivos) }} % </td>
                          <td>{{ year2.balanceGral.otrosActivosPermanentes - year1.balanceGral.otrosActivosPermanentes }}</td>
                          <td>{{ ((year2.balanceGral.otrosActivosPermanentes - year1.balanceGral.otrosActivosPermanentes) / year1.balanceGral.otrosActivosPermanentes * 100).toFixed(2) }} %</td>
                        </tr>
                        <tr>
                          <th>Total pasivos corrientes</th>
                          <td>{{ computedYear1.balanceGral.totalPasivosCorrientes }}</td>
                          <td>{{ analisisVertical(computedYear1.balanceGral.totalPasivosCorrientes, computedYear1.balanceGral.totalPasivos) }} % </td>
                          <td>{{ computedYear2.balanceGral.totalPasivosCorrientes }}</td>
                          <td>{{ analisisVertical(computedYear2.balanceGral.totalPasivosCorrientes, computedYear2.balanceGral.totalPasivos) }} % </td>
                          <td>{{ computedYear2.balanceGral.totalPasivosCorrientes - computedYear1.balanceGral.totalPasivosCorrientes }}</td>
                          <td>{{ ((computedYear2.balanceGral.totalPasivosCorrientes - computedYear1.balanceGral.totalPasivosCorrientes) / computedYear1.balanceGral.totalPasivosCorrientes * 100).toFixed(2) }} %</td>
                        </tr>
                        <tr>
                          <th>Cuentas por pagar</th>
                          <td><input type="text" size="6" v-model="year1.balanceGral.cuentasPorPagar"></td>
                          <td>{{ analisisVertical(year1.balanceGral.cuentasPorPagar, computedYear1.balanceGral.totalPasivosCorrientes) }} % </td>
                          <td><input type="text" size="6" v-model="year2.balanceGral.cuentasPorPagar"></td>
                          <td>{{ analisisVertical(year2.balanceGral.cuentasPorPagar, computedYear2.balanceGral.totalPasivosCorrientes) }} % </td>
                          <td>{{ year2.balanceGral.cuentasPorPagar - year1.balanceGral.cuentasPorPagar }}</td>
                          <td>{{ ((year2.balanceGral.cuentasPorPagar - year1.balanceGral.cuentasPorPagar) / year1.balanceGral.cuentasPorPagar * 100).toFixed(2) }} %</td>
                        </tr>
                        <tr>
                          <th>Documentos por pagar</th>
                          <td><input type="text" size="6" v-model="year1.balanceGral.docsPorPagar"></td>
                          <td>{{ analisisVertical(year1.balanceGral.docsPorPagar, computedYear1.balanceGral.totalPasivosCorrientes) }} % </td>
                          <td><input type="text" size="6" v-model="year2.balanceGral.docsPorPagar"></td>
                          <td>{{ analisisVertical(year2.balanceGral.docsPorPagar, computedYear2.balanceGral.totalPasivosCorrientes) }} % </td>
                          <td>{{ year2.balanceGral.docsPorPagar - year1.balanceGral.docsPorPagar }}</td>
                          <td>{{ ((year2.balanceGral.docsPorPagar - year1.balanceGral.docsPorPagar) / year1.balanceGral.docsPorPagar * 100).toFixed(2) }} %</td>
                        </tr>
                        <tr>
                          <th>Deudas con entidades de credito y obligaciones u otros valores negociables</th>
                          <td><input type="text" size="6" v-model="year1.balanceGral.deudasEntidadesCredito"></td>
                          <td>{{ analisisVertical(year1.balanceGral.deudasEntidadesCredito, computedYear1.balanceGral.totalPasivosCorrientes) }} % </td>
                          <td><input type="text" size="6" v-model="year2.balanceGral.deudasEntidadesCredito"></td>
                          <td>{{ analisisVertical(year2.balanceGral.deudasEntidadesCredito, computedYear2.balanceGral.totalPasivosCorrientes) }} % </td>
                          <td>{{ year2.balanceGral.deudasEntidadesCredito - year1.balanceGral.deudasEntidadesCredito }}</td>
                          <td>{{ ((year2.balanceGral.deudasEntidadesCredito - year1.balanceGral.deudasEntidadesCredito) / year1.balanceGral.deudasEntidadesCredito * 100).toFixed(2) }} %</td>
                        </tr>
                        <tr>
                          <th>Otras cuentas por pagar</th>
                          <td><input type="text" size="6" v-model="year1.balanceGral.otrasCuentasPorPagar"></td>
                          <td>{{ analisisVertical(year1.balanceGral.otrasCuentasPorPagar, computedYear1.balanceGral.totalPasivosCorrientes) }} % </td>
                          <td><input type="text" size="6" v-model="year2.balanceGral.otrasCuentasPorPagar"></td>
                          <td>{{ analisisVertical(year2.balanceGral.otrasCuentasPorPagar, computedYear2.balanceGral.totalPasivosCorrientes) }} % </td>
                          <td>{{ year2.balanceGral.otrasCuentasPorPagar - year1.balanceGral.otrasCuentasPorPagar }}</td>
                          <td>{{ ((year2.balanceGral.otrasCuentasPorPagar - year1.balanceGral.otrasCuentasPorPagar) / year1.balanceGral.otrasCuentasPorPagar * 100).toFixed(2) }} %</td>
                        </tr>
                        <tr>
                          <th>Total pasivo</th>
                          <td>{{ computedYear1.balanceGral.totalPasivos }}</td>
                          <td></td>
                          <td>{{ computedYear2.balanceGral.totalPasivos }}</td>
                          <td></td>
                          <td>{{ computedYear2.balanceGral.totalPasivos - computedYear1.balanceGral.totalPasivos }}</td>
                          <td>{{ ((computedYear2.balanceGral.totalPasivos - computedYear1.balanceGral.totalPasivos) / computedYear1.balanceGral.totalPasivos * 100).toFixed(2) }} %</td>
                        </tr>
                        <tr>
                          <th>Deuda a largo plazo</th>
                          <td><input type="text" size="6" v-model="year1.balanceGral.deudaLargoPlazo"></td>
                          <td>{{ analisisVertical(year1.balanceGral.deudaLargoPlazo, computedYear1.balanceGral.totalPasivos) }} % </td>
                          <td><input type="text" size="6" v-model="year2.balanceGral.deudaLargoPlazo"></td>
                          <td>{{ analisisVertical(year2.balanceGral.deudaLargoPlazo, computedYear2.balanceGral.totalPasivos) }} % </td>
                          <td>{{ year2.balanceGral.deudaLargoPlazo - year1.balanceGral.deudaLargoPlazo }}</td>
                          <td>{{ ((year2.balanceGral.deudaLargoPlazo - year1.balanceGral.deudaLargoPlazo) / year1.balanceGral.deudaLargoPlazo * 100).toFixed(2) }} %</td>
                        </tr>
                        <tr>
                          <th>Impuesto diferido a las ganancias</th>
                          <td><input type="text" size="6" v-model="year1.balanceGral.impuestoDiferidoGanancias"></td>
                          <td>{{ analisisVertical(year1.balanceGral.impuestoDiferidoGanancias, computedYear1.balanceGral.totalPasivos) }} % </td>
                          <td><input type="text" size="6" v-model="year2.balanceGral.impuestoDiferidoGanancias"></td>
                          <td>{{ analisisVertical(year2.balanceGral.impuestoDiferidoGanancias, computedYear2.balanceGral.totalPasivos) }} % </td>
                          <td>{{ year2.balanceGral.impuestoDiferidoGanancias - year1.balanceGral.impuestoDiferidoGanancias }}</td>
                          <td>{{ ((year2.balanceGral.impuestoDiferidoGanancias - year1.balanceGral.impuestoDiferidoGanancias) / year1.balanceGral.impuestoDiferidoGanancias * 100).toFixed(2) }} %</td>
                        </tr>
                        <tr>
                          <th>Otros pasivos</th>
                          <td><input type="text" size="6" v-model="year1.balanceGral.otrosPasivos"></td>
                          <td>{{ analisisVertical(year1.balanceGral.otrosPasivos, computedYear1.balanceGral.totalPasivos) }} % </td>
                          <td><input type="text" size="6" v-model="year2.balanceGral.otrosPasivos"></td>
                          <td>{{ analisisVertical(year2.balanceGral.otrosPasivos, computedYear2.balanceGral.totalPasivos) }} % </td>
                          <td>{{ year2.balanceGral.otrosPasivos - year1.balanceGral.otrosPasivos }}</td>
                          <td>{{ ((year2.balanceGral.otrosPasivos - year1.balanceGral.otrosPasivos) / year1.balanceGral.otrosPasivos * 100).toFixed(2) }} %</td>
                        </tr>
                        <tr>
                          <th>Capital contable</th>
                          <td>{{ computedYear1.balanceGral.capitalContable }}</td>
                          <td></td>
                          <td>{{ computedYear2.balanceGral.capitalContable }}</td>
                          <td></td>
                          <td>{{ computedYear2.balanceGral.capitalContable - computedYear1.balanceGral.capitalContable }}</td>
                          <td>{{ ((computedYear2.balanceGral.capitalContable - computedYear1.balanceGral.capitalContable) / computedYear1.balanceGral.capitalContable * 100).toFixed(2) }} %</td>
                        </tr>
                        <tr>
                          <th>Acciones comunes</th>
                          <td><input type="text" size="6" v-model="year1.balanceGral.accionesComunes"></td>
                          <td>{{ analisisVertical(year1.balanceGral.accionesComunes, computedYear1.balanceGral.capitalContable) }} % </td>
                          <td><input type="text" size="6" v-model="year2.balanceGral.accionesComunes"></td>
                          <td>{{ analisisVertical(year2.balanceGral.accionesComunes, computedYear2.balanceGral.capitalContable) }} % </td>
                          <td>{{ year2.balanceGral.accionesComunes - year1.balanceGral.accionesComunes }}</td>
                          <td>{{ ((year2.balanceGral.accionesComunes - year1.balanceGral.accionesComunes) / year1.balanceGral.accionesComunes * 100).toFixed(2) }} %</td>
                        </tr>
                        <tr>
                          <th>Resultado de ejercicios anteriores</th>
                          <td><input type="text" size="6" v-model="year1.balanceGral.resultadoEjercicioAnterior"></td>
                          <td>{{ analisisVertical(year1.balanceGral.resultadoEjercicioAnterior, computedYear1.balanceGral.capitalContable) }} % </td>
                          <td><input type="text" size="6" v-model="year2.balanceGral.resultadoEjercicioAnterior"></td>
                          <td>{{ analisisVertical(year2.balanceGral.resultadoEjercicioAnterior, computedYear2.balanceGral.capitalContable) }} % </td>
                          <td>{{ year2.balanceGral.resultadoEjercicioAnterior - year1.balanceGral.resultadoEjercicioAnterior }}</td>
                          <td>{{ ((year2.balanceGral.resultadoEjercicioAnterior - year1.balanceGral.resultadoEjercicioAnterior) / year1.balanceGral.resultadoEjercicioAnterior * 100).toFixed(2) }} %</td>
                        </tr>
                        <tr>
                          <th>Ganancia no realizada</th>
                          <td><input type="text" size="6" v-model="year1.balanceGral.gananciaNoRealizada"></td>
                          <td>{{ analisisVertical(year1.balanceGral.gananciaNoRealizada, computedYear1.balanceGral.capitalContable) }} % </td>
                          <td><input type="text" size="6" v-model="year2.balanceGral.gananciaNoRealizada"></td>
                          <td>{{ analisisVertical(year2.balanceGral.gananciaNoRealizada, computedYear2.balanceGral.capitalContable) }} % </td>
                          <td>{{ year2.balanceGral.gananciaNoRealizada - year1.balanceGral.gananciaNoRealizada }}</td>
                          <td>{{ ((year2.balanceGral.gananciaNoRealizada - year1.balanceGral.gananciaNoRealizada) / year1.balanceGral.gananciaNoRealizada * 100).toFixed(2) }} %</td>
                        </tr>
                        <tr>
                          <th>Otras participaciones</th>
                          <td><input type="text" size="6" v-model="year1.balanceGral.otrasParticipaciones"></td>
                          <td>-</td>
                          <td><input type="text" size="6" v-model="year2.balanceGral.otrasParticipaciones"></td>
                          <td>-</td>
                          <td>{{ year2.balanceGral.otrasParticipaciones - year1.balanceGral.otrasParticipaciones }}</td>
                          <td>{{ ((year2.balanceGral.otrasParticipaciones - year1.balanceGral.otrasParticipaciones) / year1.balanceGral.otrasParticipaciones * 100).toFixed(2) }} %</td>
                        </tr>
                        <tr>
                          <th>Total pasivo y capital contable</th>
                          <td>{{ computedYear1.balanceGral.totalPasivoCapitalContable }}</td>
                          <td></td>
                          <td>{{ computedYear2.balanceGral.totalPasivoCapitalContable }}</td>
                          <td></td>
                          <td>{{ computedYear2.balanceGral.totalPasivoCapitalContable - computedYear1.balanceGral.totalPasivoCapitalContable }}</td>
                          <td>{{ ((computedYear2.balanceGral.totalPasivoCapitalContable - computedYear1.balanceGral.totalPasivoCapitalContable) / computedYear1.balanceGral.totalPasivoCapitalContable * 100).toFixed(2) }} %</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div id="er" class="container tab-pane fade"><br>
                <div class="row">
                    <div class="col-12">
                      <table class="table table-dark table-sm table-hover">
                        <thead style="text-align: center;">
                          <tr>
                            <th rowspan="2">CONCEPTO</th>
                            <th colspan="2">YEARS</th>
                            <th rowspan="2">ANALISIS HORIZONTAL</th>
                          </tr>
                          <tr>
                            <th>{{ year1.year }}</th>
                            <th>{{ year2.year }}</th>
                          </tr>
                          <tr>

                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th>Ingresos</th>
                            <td><input type="text" size="6" v-model="year1.ER.ingresos"></td>
                            <td><input type="text" size="6" v-model="year2.ER.ingresos"></td>
                          </tr>
                          <tr>
                            <th>Consumos y otros gastos externos</th>
                            <td><input type="text" size="6" v-model="year1.ER.consumosGastosExternos"></td>
                            <td><input type="text" size="6" v-model="year2.ER.consumosGastosExternos"></td>
                          </tr>
                          <tr>
                            <th>Beneficio bruto</th>
                            <td>{{ computedYear1.ER.beneficioBruto }}</td>
                            <td>{{ computedYear2.ER.beneficioBruto }}</td>
                          </tr>
                          <tr>
                            <th>Total gastos de explotacion</th>
                            <td>{{ computedYear1.ER.gastosExplotacion }}</td>
                            <td>{{ computedYear2.ER.gastosExplotacion }}</td>
                          </tr>
                          <tr>
                            <th>Gastos de personal</th>
                            <td><input type="text" size="6" v-model="year1.ER.gastosPersonal"></td>
                            <td><input type="text" size="6" v-model="year2.ER.gastosPersonal"></td>
                          </tr>
                          <tr>
                            <th>I + D</th>
                            <td><input type="text" size="6" v-model="year1.ER.investigacionDev"></td>
                            <td><input type="text" size="6" v-model="year2.ER.investigacionDev"></td>
                          </tr>
                          <tr>
                            <th>Resultados de explotacion</th>
                            <td>{{ computedYear1.ER.resultadoExplotacion }}</td>
                            <td>{{ computedYear2.ER.resultadoExplotacion }}</td>
                          </tr>
                          <tr>
                            <th>Ingresos financieros</th>
                            <td><input type="text" size="6" v-model="year1.ER.ingresosFinancieros"></td>
                            <td><input type="text" size="6" v-model="year2.ER.ingresosFinancieros"></td>
                          </tr>
                          <tr>
                            <th>Otros gastos</th>
                            <td><input type="text" size="6" v-model="year1.ER.otrosGastos"></td>
                            <td><input type="text" size="6" v-model="year2.ER.otrosGastos"></td>
                          </tr>
                          <tr>
                            <th>Resultados ordinario antes de impuestos</th>
                            <td>{{ computedYear1.ER.resultadoOrdinarioAntesImpuestos }}</td>
                            <td>{{ computedYear2.ER.resultadoOrdinarioAntesImpuestos }}</td>
                          </tr>
                          <tr>
                            <th>Impuesto sobre beneficios</th>
                            <td><input type="text" size="6" v-model="year1.ER.impuestoBeneficios"></td>
                            <td><input type="text" size="6" v-model="year2.ER.impuestoBeneficios"></td>
                          </tr>
                          <tr>
                            <th>Resultado procedente de operaciones continuadas</th>
                            <td>{{ computedYear1.ER.resultadoOperacionesContinuadas }}</td>
                            <td>{{ computedYear2.ER.resultadoOperacionesContinuadas }}</td>
                          </tr>
                          <tr>
                            <th>Resultado de operaciones interrumpidas</th>
                            <td><input type="text" size="6" v-model="year1.ER.resultadoOperacionesInterrumpidas"></td>
                            <td><input type="text" size="6" v-model="year2.ER.resultadoOperacionesInterrumpidas"></td>
                          </tr>
                          <tr>
                            <th>Resultado atribuido al grupo</th>
                            <td>{{ computedYear1.ER.resultadoAtribuidoGrupo }}</td>
                            <td>{{ computedYear2.ER.resultadoAtribuidoGrupo }}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
              </div>
              <div id="razonesfinancieras" class="container tab-pane fade"><br>
                <div class="row">
                    <div class="col-6">
                      <br>
                      <div class="card text-white bg-primary">
                        <div class="card-body">
                          <h5 class="card-title">Margen de utilidad bruta {{ year1.year }}</h5>
                          <h6 class="card-subtitle mb-2 text-muted">Utilidad bruta / Ventas</h6 <p class="card-text">{{
                          margenUtilidad(computedYear1.ER.utilidadBruta, computedYear1.ER.ventasNetas) }}</p>
                        </div>
                      </div>
                      <br>
                      <div class="card text-white bg-primary">
                        <div class="card-body">
                          <h5 class="card-title">Margen de utilidad operativa {{ year1.year }}</h5>
                          <h6 class="card-subtitle mb-2 text-muted">Utilidad operariva / Ventas</h6 <p class="card-text">{{
                          margenUtilidad(computedYear1.ER.utilidadOperativa, computedYear1.ER.ventasNetas) }}</p>
                        </div>
                      </div>
                      <br>
                      <div class="card text-white bg-primary">
                        <div class="card-body">
                          <h5 class="card-title">Margen de utilidad neta {{ year1.year }}</h5>
                          <h6 class="card-subtitle mb-2 text-muted">Utilidad a distribuir / Ventas</h6 <p class="card-text">{{
                          margenUtilidad(computedYear1.ER.utilidadADistribuir, computedYear1.ER.ventasNetas) }}</p>
                        </div>
                      </div>
                      <br>
                      <div class="card text-white bg-primary">
                        <div class="card-body">
                          <h5 class="card-title">Ganancias por accion {{ year1.year }}</h5>
                          <h6 class="card-subtitle mb-2 text-muted">Utilidad a distribuir / Acciones en circulacion</h6 <p class="card-text">{{
                          computedYear1.ER.utilidadADistribuir / year1.acciones }}</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-6">
                      <br>
                      <div class="card text-white bg-primary">
                        <div class="card-body">
                          <h5 class="card-title">Margen de utilidad bruta {{ year2.year }}</h5>
                          <h6 class="card-subtitle mb-2 text-muted">Utilidad bruta / Ventas</h6 <p class="card-text">{{
                          margenUtilidad(computedYear2.ER.utilidadBruta, computedYear2.ER.ventasNetas) }}</p>
                        </div>
                      </div>
                      <br>
                      <div class="card text-white bg-primary">
                        <div class="card-body">
                          <h5 class="card-title">Margen de utilidad operativa {{ year2.year }}</h5>
                          <h6 class="card-subtitle mb-2 text-muted">Utilidad operativa / Ventas</h6 <p class="card-text">{{
                          margenUtilidad(computedYear2.ER.utilidadOperativa, computedYear2.ER.ventasNetas) }}</p>
                        </div>
                      </div>
                      <br>
                      <div class="card text-white bg-primary">
                        <div class="card-body">
                          <h5 class="card-title">Margen de utilidad neta {{ year2.year }}</h5>
                          <h6 class="card-subtitle mb-2 text-muted">Utilidad a distribuir / Ventas</h6 <p class="card-text">{{
                          margenUtilidad(computedYear2.ER.utilidadADistribuir, computedYear2.ER.ventasNetas) }}</p>
                        </div>
                      </div>
                      <br>
                      <div class="card text-white bg-primary">
                        <div class="card-body">
                          <h5 class="card-title">Ganancias por accion {{ year2.year }}</h5>
                          <h6 class="card-subtitle mb-2 text-muted">Utilidad a distribuir / Acciones en circulacion</h6 <p class="card-text">{{
                          computedYear2.ER.utilidadADistribuir / year2.acciones }}</p>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
          </div>
  </script>
  <script src="js/vue.js"></script>
  <script src="js/app.js"></script>
</body>